@import url("https://fonts.googleapis.com/css2?family=Adamina&display=swap");

* {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}
body {
  font-family: "Adamina", serif;
  font-size: 16px;
}

.bg-menu {
  background-color: #212529 !important;
}

.bg_image {
  background-image: url("../img/Bg_image.png");
  background-size: cover;
  background-position: center center;
  background-repeat: none;
  height: 315px;
  position: relative;
  background-attachment: fixed;
}
.header_1{
  font-size: 50px;
}
.carousel-caption {
  position: absolute;
  z-index: 10;
  text-align: left;
  float: left;
  top: 20%;
  left: 9%;
}

.header_2{
  font-size: 50px;
}

/* Footer Session opened  */
.footer-section {
  background: #302a2a;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #474545;
}
.single-cta i {
  color: #dda140;
  font-size: 20px;
}

.footer-content {
  position: relative;
  z-index: 2;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg {
  background: #3b5998;
}
.instagram-bg {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.google-bg {
  background: #dd4b39;
}

/* For Footer link */
a.footer_link {
  color: #FFF;
  background-color: transparent;
  text-decoration: none;
}
.footer_link:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
.footer_link:active {
  color: #FFF;
  background-color: transparent;
  text-decoration: underline;
}
/* Footer Closed  */

.para_align{
  text-align: justify;
}
.background_hero{
  background-color: #104fa0;
}

.recent_activites{
  background-image:
  linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.73));
  background-size: cover;
  color: white;
}

/* Button Attribute Opened */
.btn-colour-1 {
  color: #fff;
  background-color: #61483a;
  border-color: #61483a;
  font-weight: bold;
  letter-spacing: 0.05em;
  border-radius: 0;
}
.btn-colour-1:hover,
.btn-colour-1:active,
.btn-colour-1:focus,
.btn-colour-1.active {
  /* let's darken #004E64 a bit for hover effect */
  background: #61483a;
  color: #ffffff;
  border-color: #61483a;
}

a.activity_hero {
  background-color: transparent;
  text-decoration: none;
  font-size: 18px;
}
.activity_hero:hover {
  color: #fff;
  background-color: transparent;
  text-decoration: underline;
}
.activity_hero:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}